<h4></h4>
<br>

<table align='center' width='400'>
    <tr height='35' >
        <td colspan='2'align='center'><b>Detalhes do Contato</b></td>         
    </tr>    
    <tr height='35' >
        <td><b>Id</b></td>
        <td>{{id}}</td>
    </tr>
    <tr height='35'>
        <td><b>Nome</b></td>
        <td>{{contato.nome}}</td>
    </tr>
    <tr height='35'>
        <td><b>Telefone</b></td>
        <td>{{contato.telefone}}</td>
    </tr>
    <tr height='35'>
        <td><b>Email</b></td>
        <td>{{contato.email}}</td>
    </tr>
    <tr height='35'>
        <td colspan='2'align='center'><a [routerLink]="['/lista_contato']" >Voltar</a></td>

    </tr>    


</table>









