


<table class="table table-hover table-condensed">
    <tr>
     <td>Pedido</td>
     <td>Cliente</td>
     <td>Produção</td>
    </tr>
     <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>
    <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>
    <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>
    <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>
    <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>
    <tr>
     <td>--</td>
     <td>--</td>
     <td>--</td>
    </tr>

</table>